/* google font  */
@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");
body {
  font-family: "Neucha", cursive;
  font-weight: 400;
  background: #a8dadc;
}
/* todo style  */

.todo-form {
  display: flex;
  align-items: center;
  width: 90%;
  position: relative;
  margin-bottom: 40px;
}

.todo-input {
  width: 100%;
  padding: 10px 20px;
  font-size: 24px;
  border-radius: 50px;
  outline: none;
  transition: 0.3s;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

.todo-input:focus {
  box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
  outline: none;
}

.todo-button {
  background: #118ab2;
  color: #fff;
  width: 45px;
  height: 45px;
  text-align: center;
  padding: 5px 10px;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: 0.3s all;
}

.todo-button:hover {
  background: #1ca9d8;
}

.todo-button:active {
  transform: scale(0.8);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.single-todo-box {
  background: #006d77;
  color: #fff;
}
